/* styles.css */
.input-container {
  position: relative;
}

.input-container label {
  position: absolute;
  left: 10px;
  transition: top 0.3s, font-size 0.3s;
}

.input-container input {
  padding: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
}

.input-container.focused label {
  top: -20px;
  font-size: 12px;
  transition: ease-in-out 1s;
}

.input-container.focused input {
  border-color: #007bff;
}


input[type="file"] {
  color: transparent;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


.base-input {
  @apply  flex flex-col gap-2
}
.modal-overlay {
  @apply fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50;
}

.modal-content {
  @apply bg-white p-6 rounded-lg shadow-xl w-96;
}

.modal-header {
  @apply flex flex-col items-center justify-center gap-4 p-4
}

.modal-title {
  @apply text-lg font-semibold text-center;
}

.modal-description {
  @apply text-sm text-center;
}

.modal-actions {
  @apply flex justify-around;
}

.modal-button {
  @apply px-6 py-2 text-sm font-medium rounded-lg transition;
}

.modal-button.cancel {
  @apply text-gray-700 border-gray-500 border-[1px] hover:bg-gray-400;
}

.modal-button.delete {
  @apply text-white bg-red-500 hover:bg-red-600;
}


.input-field {
  @apply border-2 focus:border-blue-500 hover:border-blue-300 outline-none rounded-lg px-4 text-sm py-2;
}